html, body {
    font-family: 'Fira Sans';
    height: 100%;
    width: 100%;
    color: black;
}

#legend-container {
    position:absolute;
    z-index: 20;
    top: 200px;
    right: 200px;
}


.tooltip:hover {
    fill: rgb(75, 60, 60);
}

#tooltip {
    color:white;
    position: absolute;
    border-radius: 5px;
    padding: 3px;
    background-color:black;
    border: 1px solid;
    font-size: 1.4em;
    opacity: 0;
    z-index: 20;
    text-align: center;
  

}

#title-container {
    text-align: center;
    padding: 30px;
}


#container {
    margin: 0 auto;
}

svg {
    margin: 0 auto;
}
